<div>
	<label for="start-date-select">Start date:</label>
	<input id="start-date-select" type="date">
</div>
<div>
	<label for="end-date-select">End date:</label>
	<input id="end-date-select" type="date">
</div>
<div>
	<label for="windspeed-checkbox">Wind speed</label>
	<input id="windspeed-checkbox" type="checkbox">
</div>
<div>
	<label for="production-checkbox">Production</label>
	<input id="production-checkbox" type="checkbox">
</div>
<div>
	<label for="consumption-checkbox">Consumption</label>
	<input id="consumption-checkbox" type="checkbox">
</div>
<canvas id="myChart" width="400" height="400" style="max-width: 700px; max-height: 700px;">
	<script type="text/javascript" src="/js/graph.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</canvas>
