<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/dashboard/manager/prosumerOverview/prosumerOverview.js"></script>
<script type="text/javascript" src="/js/dashboard/manager/prosumerOverview/blockProsumer.js"></script>
<table class="table">
	<thead>
		<tr>
			<td>Prosumer id - email</td>
			<td>Online</td>
			<td>Block</td>
			<td>Blocked</td>
			<td>Blackout</td>
		</tr>
	</thead>
	<tbody id="prosumer-overview-body">
	</tbody>
</table>
