<table>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			text-align: center;
		}
	</style>
	<thead>
		<tr>
			<th>Wind speed (m/s)</th>
			<th>Production (kW)</th>
			<th>Consumption (kW)</th>
			<th>Net production (kW)</th>
			<th>Battery power (kW)</th>
			<th>Electricity pricing (SEK/kW)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="windSpeed"></td>
			<td id="production"></td>
			<td id="consumption"></td>
			<td id="netProduction"></td>
			<td id="battery"></td>
			<td id="pricing"></td>
		</tr>
	</tbody>
</table>
