<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<div class="login-section">
		<form id="login-form" method="post" action="/action/login">
			<div>
				<span>Email</span>
				<input placeholder="email" type="email" name="email" required>
			</div>
			<div>
				<span>Password</span>
				<input placeholder="password" type="password" name="password" required>
			</div>
			<input type="submit" value="Log in">
		</form>
	</div>
</body>
</html>
