<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/bootstrap") %>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/fragments/fragments.js"></script>
    <script type="text/javascript" src="/js/dashboard/manager/pollData.js"></script>
    <script type="text/javascript" src="/js/dashboard/ratios.js"></script>
    <script
      type="text/javascript"
      src="/js/dashboard/manager/marketDemand.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/dashboard/manager/displayRatios.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/dashboard/manager/powerPlant.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/dashboard/manager/pricing.js"
    ></script>
    <style>
      .container {
        margin-top: 20px;
      }
      .card {
        margin: 10px;
      }
      .dot-status {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
      }
      .dot-status-offline {
        background-color: #d9534f;
      }
      .dot-status-online {
        background-color: #449d44;
      }
      .tooltip {
        position: relative;
        display: inline-block;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container card">
      <div class="card-body">
        <h1>Dashboard</h1>
        <div class="card">
          <h3 class="card-header">Power Plant</h3>
          <div class="card-body">
            <div class="card-body">
              <h4 class="card-title">Overview</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Production (kW)</th>
                    <th>Operations</th>
                    <th>Battery (kW)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="status"></td>
                    <td id="production"></td>
                    <td id="operations">
                      <input
                        id="operationButton"
                        class="btn btn-danger"
                        onclick="changePowerPlantStatus(event, this)"
                        type="button"
                      />
                    </td>
                    <td id="battery"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                Production Ratio
              </h4>
              <p class="card-text">
                Determines the ratio of electricity being sent to the market and
                the battery while producing
              </p>
              <label id="displayProdBatteryRatio" for="ratioProd"></label>
              <%- include("../partials/slider", {id:"ratioProd"}) %>
              <label id="displayProdMarketRatio" for="ratioProd"></label>
            </div>
          </div>
        </div>
        <div class="card">
          <h3 class="card-header">
            Market
          </h3>
          <div class="card-body">
            <h4 class="card-title">Current demand</h4>
            <span id="market-demand">0 kW</span>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Pricing
            </h4>
            <table class="table">
              <thead>
                <tr>
                  <td>Current (SEK/kW)</td>
                  <td>Suggested (SEK/kW)</td>
                  <td>Difference (SEK)</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="currPrice"></td>
                  <td id="suggestedPrice"></td>
                  <td id="diffPrice"></td>
                </tr>
              </tbody>
            </table>
            <form onsubmit="submitPricingForm(event, this)">
              <div>
                <span>Set price</span>
                <input
                  id="priceInput"
                  type="number"
                  step="0.01"
                  min="0"
                  required
                />
                <input type="submit" class="btn btn-info" value="Update" />
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <h3 class="card-header">Prosumers</h3>
          <div class="card-body">
            <span id="prosumer-status"></span>
            <div class="card-body">
              <%- include("../partials/prosumerOverview.ejs") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
