<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
	<script src="../../js/profile/upload_picture.js" type="text/javascript"></script>
	<script src="../../js/profile/update_credentials.js" type="text/javascript"></script>
	<script src="../../js/util.js" type="text/javascript"></script>
</head>
<body>
	<%- include("../partials/navbar") %>
	<h1>Profile</h1>
	<% if (typeof user !== "undefined") { %>
		<% if (user.email) { %>
			<h2 id="email-header"><%= user.email %></h2>
		<% } %>
	<% } %>
	<img style="max-height:10000;max-width:1000px" id="image" src=<%= user.image%> alt="Profile picture">
	<div>
		<h3>Upload picture</h3>
		<form 
		onsubmit="uploadImageFormSubmit(event)">
			<input type="file" accept="image/jpeg"><br>
			<input type="submit" value="Upload">
		</form>
	</div>
	<form onsubmit="updateEmail(event)">
		<label for="update-email"> Update email </label>
		<input id="update-email" type="email" placeholder="email" required>
		<input type="submit" value="Update">
	</form>
	<form onsubmit="updatePassword(event, this)">
		<label for="update-password"> Update password </label>
		<input id="update-password" type="password" placeholder="password" required>
		<input type="submit" value="Delete account">
	</form>
	<input onclick=deleteAccount() type="button" value="Delete account" style="background-color:red">
</body>
</html>
