<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
</head>
<body>
	<form method="post" action="/action/logout">
		<input type="submit" value="log out">
	</form>
	Profile
</body>
</html>
