<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript" src="/js/APIAddress.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/fragments/prosumerFields.js"></script>
		<script 
			type="text/javascript" 
			src="/js/prosumerSummary/prosumerStatsTable.js"
			prosumerId=<%= prosumer.id %>
		>
	</script>
</head>
<body>
	<h1><%= prosumer.id %> - <%= prosumer.account.email %></h1>
	<%- include("../partials/prosumerStatsTable") %>
</body>
</html>
