<!DOCTYPE html>
<html lang="en">
  <head>
		<script type="text/javascript" src="/js/APIAddress.js"></script>
		<script type="text/javascript" src="/js/util.js"></script>
    <script
      type="text/javascript"
      src="/js/fragments/prosumerFields.js"
    ></script>
    <script type="text/javascript" src="/js/prosumer/ratios.js"></script>
    <script type="text/javascript" src="/js/prosumer/dashboard.js"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th,
      td {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <div>
      <h1>Dashboard</h1>
      <div>
				<h2>Overview</h3>
        <table>
          <thead>
            <tr>
              <th>Wind speed (m/s)</th>
              <th>Production (kW)</th>
              <th>Consumption (kW)</th>
              <th>Net production (kW)</th>
              <th>Battery power (kW)</th>
              <th>Electricity pricing (SEK/kW)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="windSpeed"></td>
              <td id="production"></td>
              <td id="consumption"></td>
              <td id="netProduction"></td>
              <td id="battery"></td>
              <td id="pricing"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
				<h2>Ratios</h2>
        <div>
          <h3>Excessive production</h3>
          <div>
						<label id="displayExcessBatteryRatio" for="ratioExcess"></label>
						<%- include("../partials/slider", {id:"ratioExcess"}) %>
						<label id="displayExcessMarketRatio" for="ratioExcess"></label>
          </div>
        </div>
        <div>
          <div>
            <h3>Under-production</h3>
            <div>
							<label id="displayDeficitBatteryRatio" for="ratioDeficit"></label>
							<%- include("../partials/slider", {id:"ratioDeficit"}) %>
							<label id="displayDeficitMarketRatio" for="ratioDeficit"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
