<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="/js/fragments/prosumerFields.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/prosumer/getProsumerData.js"
    ></script>
    <script type="text/javascript" src="/js/prosumer/dashboard.js"></script>
    <script type="text/javascript" src="/js/pollFunc.js"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th,
      td {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <div>
      <h1>Dashboard</h1>
      <div>
        <h2>Overview</h2>
        <table>
          <thead>
            <tr>
              <th>Wind speed</th>
              <th>Production</th>
              <th>Consumption</th>
              <th>Net production</th>
              <th>Battery power</th>
              <th>Electricity pricing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="windSpeed"></td>
              <td id="production"></td>
              <td id="consumption"></td>
              <td id="netProduction"></td>
              <td id="battery"></td>
              <td id="pricing"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
